<nav class="navbar">
  <div class="logo">
    <img src="assets/logo-2.png" alt="Logo" />
  </div>
  <div class="nav-buttons">
    <button routerLink="/user-home" routerLinkActive="active" class="nav-button">Home</button>
    <button routerLink="/about-us" routerLinkActive="active" class="nav-button">About Us</button>
    <button routerLink="/services" routerLinkActive="active" class="nav-button">Services</button>
    <button routerLink="/catalogs" routerLinkActive="active" class="nav-button">Catalogs</button>
    <button routerLink="/contact" routerLinkActive="active" class="nav-button">Inquire Now</button>
    <button routerLink="/login" routerLinkActive="active" class="nav-button logout">Logout</button>
  </div>
</nav>
